/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.navbar {
    border-bottom: 1px solid #0B8F97;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #f8f9fa !important;
    /* Asegura que el fondo sea opaco al scrollear */
}

.navbar-nav .nav-link {
    border-bottom: 1px solid transparent;
}

.navbar-nav .nav-link.active {
    border-bottom: 1px solid #0B8F97;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.mobile {
    display: none;
}

.sinpadding [class*="col-"] {
    padding: 0;
}

.fondo {
    background-color: #010001;
    height: 100vh;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 50px;
}

.fondo2 {
    background-color: #010001;
    padding: 100px 0;
}

.container1 {
    max-width: 100vh;
}

.container1 h1 {
    color: white;
}

.days p {
    color: #fafafa;
    font-size: 16px;
}

.objetivo {
    padding: 100px 0;
}


.objetivo p,
h3 {
    color: #0A8890;
}

.fondo2 h3 {
    color: #fafafa;
}

h1 {
    padding-top: 25px;
    color: #fafafa;
    font-family: Verdana, sans-serif;
    text-align: center;
}

h2 {
    padding-top: 15px;
    color: #fafafa;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}

h3 {

    padding-top: 15px;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 24px;
}

p {

    color: #fafafa;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
}

.fondo p {
    font-size: 20px !important;
}

.footer {
    padding: 50px 0;
}

.footer p {
    font-size: 14px;
    text-align: left;
    color: #000000;
}

.mobile {
    display: none;
}

.video {
    height: 50vh;
    justify-content: center;
    width: 100%;
}

#link {
    text-decoration: none;
    color: white;
}

#link:hover {
    color: #0A8890;
}

.links_footer a {
    color: white;
    text-decoration: none;
}

.links_footer a:hover {
    color: #222;
    text-decoration: solid;
}

.fecha {
    font-size: 14px;
    color: #000000;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 25px;
}

.fecha_card {
    font-size: 14px;
    color: #000000;
    text-align: left;
    padding-top: 5px;
}

.tipo_novedad_card {
    font-size: 14px;
    color: #0A8890;
    text-align: right;
    padding-top: 5px;
}

.autor img {
    padding-top: 15px;
    padding-bottom: 15px;
}

.autor h4 {
    color: #777;
    padding-top: 35px;
    font-size: 18px;
    padding-bottom: 25px;
}

.autor a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.autor a:hover {
    color: #0B8F97;
    font-size: 16px;
}



@media (max-width: 700px) {
    .mobile {
        display: block;
        justify-content: center;
    }

    .desktop {
        display: none;
    }
}

/* ESTILOS CARD */

.card {
    border-color: #000000 !important;
}

.card-text {
    color: black !important;
    font-size: 14px;
    text-align: left;
}

.texto_obras {
    margin-top: 50px;
    margin-bottom: 50px;
}

.texto_obras h1 {
    color: #222;
    text-align: left;
}

.texto_obras p {
    font-family: 'Manrope', sans-serif;
    color: #222;
    text-align: left;
}

.texto_obras h2 {
    text-align: left;
    color: #0B8F97;
    font-size: 22px;
    padding-bottom: 30px;
}

.texto_obras ul li {
    font-size: 20px;
    color: #222222;
    font-family: Verdana, sans-serif;
    font-weight: 100;
}

.resena_todo {
    padding-left: 25px;
    padding-right: 150px;
}

@media (max-width: 700px) {

    .resena_todo {
        padding-right: 25px;
    }
}

.resena_todo a {
    color: #0B8F97;
    font-weight: 600;
    text-decoration: none;
}

.tipo_novedad {
    text-align: left;
    color: #0B8F97;
    font-size: 16px;
    padding-top: 50px;
    font-weight: 600;
}


.card_novedades_home,
.card_obras_home {
    margin-bottom: 15px;
}

.card_obras_home .card-body {
    height: 250px;
}

.card_novedades_home p,
.card_obras_home p {
    font-size: 14px;
    color: #0B8F97;
    text-align: left;
    padding-top: 0;
}

.card_novedades_home .card-body h2,
.card_obras_home .card-body h2 {
    font-size: 16px;
    padding-top: 10px;
    color: #999;
    text-align: left;
}

.card_obras_home .card-body h3 {
    font-size: 24px;
    padding-top: 0;
    color: #222;
    text-align: left;
    font-weight: 400;
}

.card_novedades_home .card-body h3 {
    text-align: left;
}

.card_novedades_home a,
.card_obras_home a {
    color: #0B8F97;
}

.card_novedades_home .card-body {
    height: 600px;
}


.fondo_seccion {
    background-color: #222;
    padding: 50px 0;
    margin-bottom: 100px;
}

.fondo_seccion h1,
p {
    color: white;
}

.titulos_bloques {
    padding: 100px 0 50px 0;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 600;

}

.titulos_bloques a {
    color: white;
    text-decoration: none;
}

.titulos_bloques a:hover {
    color: #0B8F97
}

.novedades_sub_home {
    margin-bottom: 25px;
}

.novedades_sub_home .card-body h2 {
    font-size: 24px;
    padding-top: 10px;
    text-align: left;
    color: #222;
}

.novedades_sub_home .card-body h3 {
    font-size: 18px;
    padding-top: 10px;
    text-align: left;
    color: #777;
    line-height: 22px;
}

.bloque_relacionadas {
    padding-bottom: 75px;
    background-color: #ccc;
}

.bloque_relacionadas h2 {
    color: #0B8F97;
    font-size: 22px;
    font-weight: 900;
    text-align: left;
    padding: 50px 0 40px 0;
}

.bloque_relacionadas h3 {
    color: #0B8F97;
    font-size: 18px;
    text-align: left;
}

.bloque_relacionadas a {
    color: #0B8F97;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
}

.bloque_relacionadas a:hover {
    color: #0A8854
}

.bloque_relacionadas .card-body {
    height: 100px;
}

.bloque_relacionadas .card {
    margin-bottom: 15px;
}

.footer {
    background-color: #0B8F97;
    color: white;
    padding-top: 50px;
}

.footer span {
    font-size: 22px;
}

.footer p {
    color: white;
    text-align: center;
}


.barra_derecha {
    background-color: #FAFAFA;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    margin-bottom: 25px;
}

.barra_derecha h3 {
    font-size: 18px;
    text-align: left;
    padding-bottom: 15px;
}

.barra_derecha a {
    color: #222;
    font-size: 16px;
    text-decoration: none;
    line-height: 18px;
}

.barra_derecha a:hover {
    color: #0A8890;
    font-size: 16px;
    text-decoration: #0A8890;
}


.card-link {
    text-decoration: none;
    /* Elimina el subrayado */
    color: inherit;
    /* Hereda el color del texto para que no se vea azul por defecto */
    display: block;
    /* Opcional: para que ocupe todo el contenedor si es necesario */
}

.politicas p {
    color: #222;
    text-align: left;
    font-size: 16px;
}

.btn-custom-urro {
    background-color: #0B8F97;
    color: white !important;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-weight: 600;
}

/* Efecto Hover personalizado */
.btn-custom-urro:hover {
    background-color: #09757b;
    /* Un tono un poco más oscuro para el contraste */
    color: white;
    transform: translateY(-2px);
    /* Elevación sutil */
    box-shadow: 0 5px 15px rgba(11, 143, 151, 0.4);
    /* Brillo con tu color exacto */
}

/* Efecto cuando se hace clic */
.btn-custom-urro:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(11, 143, 151, 0.2);
}


.ranking-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 15px;
}

.ranking-numero {
    font-size: 2.5rem;
    font-weight: bold;
    color: #e0e0e0;
    /* Un gris claro para que no opaque el título */
}

.ranking-info h4 {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.2;
}

.ranking-info p {
    font-size: 0.8rem;
    color: #666;
    margin-top: 5px;
}

/* Contenedor principal */
.grid-ranking {
    display: grid;
    gap: 2rem;
    /* Espacio entre las tarjetas */
    grid-template-columns: 1fr;
    /* Por defecto: 1 por fila (Móvil) */
    margin-top: 2rem;
}

/* Tablet: 2 por fila */
@media (min-width: 768px) {
    .grid-ranking {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* PC: 4 por fila */
@media (min-width: 1024px) {
    .grid-ranking {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Estilo de la tarjeta */
.card-ranking {
    background: #f8f9fa;
    padding: 1.5rem;
    border-radius: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid #0B8F97;
    /* Un detalle de color */
}

.ranking-posicion {
    font-size: 3rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 5px;
    right: 15px;
}

.contenido-ranking h4 {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
    color: #333;
    text-align: left;
}

.contenido-ranking p {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
    margin-bottom: 1rem;
    text-align: left;
    padding-top: 25px
}

.vistas-count {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    blockquote {
        border-left: 3px solid lightgray;
        padding-left: 15px;
        margin-left: 20px;
    }



    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ESTILOS COMENTARIOS */
.marca {
    background-color: #0B8F97;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.comentario-item {
    border-bottom: 1px solid #eee;
}

.comentario-item p strong {
    color: #222;
}

.comentario-item p {
    color: #444;
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
}

.comentario-item small {
    color: #777 !important;
}

.nuevo-comentario .form-control {
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
}

.nuevo-comentario label {
    font-weight: 600;
    color: #222;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.comentarios .alert {
    text-align: left;
}